<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de Materias</title>

</head>
<link rel="stylesheet" href="style.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<body>
    <div class="container" id="app">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="#" class="enlace">
                
                <img src="logo.png" alt="" class="logo">
            </a>
            <ul>
                <li><a  href="index.html">Alumnos</a></li>
                <li><a  href="inscripcion.html">Inscripcion</a></li>
                <li><a class="active" href="Matricula.html">Matricula</a></li>

                
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="form-register">
                <div class="h4"> REGISTRO DE INSCRIPCIONES</div>
                <div class="card-body text-dark">
                    <form method="post" @submit.prevent="guardarInscripcion" @reset="nuevaInscripcion">
                        <div class="row p-1">
                            <div class="col-3 col-md-2">Alumno:</div>
                            <div class="col col-md-6">
                                <select class="controls" v-model="inscripcion.alumno" v-bind:disabled="inscripcion.accion != 'nuevo'">
                                    <option v-for="alumno in alumnos" :value="alumno.idAlumno">{{ alumno.codigo }} - {{alumno.nombre}}</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="row p-1">
                            <div class="col-3 col-md-2">Materia:</div>
                            <div class="col col-md-6">
                                <select class="controls" v-model="inscripcion.materias" multiple>
                                    <option v-for="materia in materias" :value="materia.idMateria">{{ materia.codigo }} - {{materia.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row m-2">
                            <div class="col col-md-5 text-center">
                                <input class="botons" type="submit" value="Guardar">
                                <input class="botons1" type="reset" value="Nuevo">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-register">
                <div class="h5">BUSQUEDA DE MATERIAS</div>
                <div class="card-body">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>BUSCAR:</th>
                                <th colspan="14"><input type="text" @keyup="buscandoInscripcion" v-model="buscar" 
                                class="form-control" placeholder="buscar aqui" ></th>
                            </tr>
                            <tr>
                                <th>Alumno</th>
                                <th>Materia</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in inscripciones" @click='modificarInscripcion( item )' :key="item.idInscripcion">
                                <td>{{item.alumnos}}</td>
                                <td>
                                    <li v-for="materias in item.materias">
                                        {{ materias }}
                                    </li>
                                </td>
                                <td>
                                    <button class="botons2" @click="eliminarInscripcion(item)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const {createApp} = Vue;
        createApp({
            data(){
                return{
                db:'',
                buscar:'',
                materias:[],
                alumnos:[],
                inscripciones:[],
                inscripcion:{
                    idInscripcion:1,
                    accion :'nuevo',
                    alumno :'',
                    materias:[]
                    }
                }
            },
            methods:{
                nuevaInscripcion(){
                    this.inscripcion.idInscripcion = '';
                    this.inscripcion.accion = 'nuevo';
                    this.inscripcion.alumno = '';
                    this.inscripcion.materias = [];
                },
                modificarInscripcion(inscripcion){
                    this.accion = 'modificar';
                    this.inscripcion = inscripcion;
                },
                guardarInscripcion(){
                    let store = this.abrirStore('tblinscripciones','readwrite');
                    if(this.accion==='nuevo'){
                      this.inscripcion.idInscripcion = new Date().getTime().toString(16); //las cantidad milisegundo y lo convierte en hexadecimal
                    }
                    let query = store.put( JSON.parse( JSON.stringify(this.inscripcion)));
                    query.onsuccess = resp=>{
                     this.nuevaInscripcion();
                     this.listarInscripciones();
                    };
                    query.onerror = err=>{
                     console.error('ERROR al guardar inscripcion', err);
                    };
                },
                eliminarInscripcion(inscripcion){
                    if(confirm(`Esta seguro de eliminar la inscripcion ${inscripcion.alumno.nombre}?`)){
                        let store = this.abrirStore('tblinscripciones', 'readwrite'),
                        req = store.delete(inscripcion.idInscripcion);
                        req.onsuccess = res=>{
                          this.listarInscripciones();
                        };
                        req.onerror = err=>{
                          console.error('ERROR al guardar inscripcion');
                        };
                    }
                },
                listarInscripciones(){
                    let store = this.abrirStore('tblinscripciones', 'readonly'),
                    data = store.getAll();
                    data.onsuccess = resp=>{
                       this.inscripciones = data.result
                      .filter(inscripcion=>inscripcion.alumno.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1 || 
                      inscripcion.alumno.codigo.indexOf(this.buscar)>-1);
                    };
                },
                abrirBD(){
                    let indexDB = indexedDB.open('db_sistema_academico',1);
                    indexDB.onsuccess = e=>{
                      db = e.target.result;
                      this.listarInscripciones();
                    };
                    indexDB.onerror = e=>{
                      console.error('ERROR al crear, abrir la BD',e);
                    }; 
                },
                abrirStore(store,modo){
                 let ltx = db.transaction(store,modo);
                  return ltx.objectStore(store);
                }
            },
            created(){
             this.abrirBD();
            }
       }).mount('#app')
    </script>
</body>
</html>